.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  margin: 0.5em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-function {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.App-link {
  color: rgb(112, 76, 182);
}

.split-sections {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 2em;
  margin-right: 2em;
}

.private-area {
  padding: 1em;
}

.public-area {
  padding: 1em;
}

.table-label {
  font-weight: bold;
  padding-right: 1em;
  color:rgb(255, 166, 0)
}

.table-data {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
}

.table-list {
  padding: 1.5rem;
  padding-top: 0.5rem;
  list-style: none;
}

.table-list-item {
  border: 0.5px solid rgb(49, 49, 49);
  padding: 0.5rem;
}

.table-order {
  border-collapse: collapse;
  margin: auto;
}

.buy-order {
  color: rgb(0, 255, 55)
}

.sell-order {
  color: rgb(255, 0, 0)
}

.button-selected {
  font-weight: bold;
  color: rgb(255, 166, 0);
  background-color: rgb(49, 49, 49);
  border: 2px, rgb(255, 166, 0);
}

.button-unselected {
  color: rgb(66, 66, 66);
  background-color: rgb(49, 49, 49);
}

.buysellbutton {
  width: 60px;
  height: 35px;
  border-radius: 10px;
}

.submit {
  width: 100px;
  height: 45px;
  border-radius: 14px;
}

.slider {
  margin: auto;
  width: 25em;
}

.filter-grid-main {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 5fr 1fr;

}

.r-align {
  text-align: right;
}

.l-align {
  text-align: left;
}

.dropdown {
  width: 4em;
  height: 2em;
  font-weight: bold;
  font-size: large;
  color: rgb(219, 219, 219);
  background-color: rgb(49, 49, 49);
  border-radius: 8px;
  text-align-last: center;

}

.dropdown-option {
}