@import '../../../styles/common/colours.scss';

.top-bar {
  background-color: $appGrey2;
  height: 4rem;
  width: auto;  
  border-radius: 10px 10px 0px 0px;
}

.top-user {
  color: $appOrange;
  float: right;
  margin-right: 1rem;
}

.top-settings {
  height: 3rem;
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: right;
  float: right;
}

.top-logo {
  height: 3rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  text-align: left;
  float: left;
}

.circuit {
  background-image: url('/src/circuit.svg');
  height: 4rem;
  margin-top: -2rem;
  width: auto;  
  border-radius: 10px 10px 0px 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .circuit{
    animation: circuit-mask infinite 8s;
  }
}

@keyframes circuit-mask {
  0% { 
    clip-path: inset(0% 100% 0% 0%);
    opacity: 0;
    animation-timing-function: ease-in;
  }
  4% {
     clip-path: inset(0% 80% 0% 0%);
     opacity: 1;
     animation-timing-function: linear;
  }
  16% { 
    clip-path: inset(0% 0% 0% 80%);
    opacity: 1;
    animation-timing-function: linear;
  }
  20% {
    clip-path: inset(0% 0% 0% 100%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  100% {
    clip-path: inset(0% 0% 0% 100%);
    opacity: 0;
  }
}
