.order-form {
  padding: 2em;
}

.input-labels {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25%;
      grid-template-columns: 25% 25% 25%;
  text-align: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 2em;
  margin: 0em 4em;
  font-size: medium;
}

.input-labels .input {
  background-color: #252831;
  border-width: 0px;
  color: #dbdbdb;
  font-size: medium;
  padding-left: 1em;
  width: 4em;
  height: 1.5em;
  border-radius: 6px;
}

.input-labels .units {
  text-align: left;
  color: #dbdbdb;
}

.order-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  -webkit-column-gap: 4em;
          column-gap: 4em;
}
