// $appHighlight: rgb(255, 166, 0);
// $appBkg: rgb(72, 72, 72);
// $appGrey0: rgb(80, 80, 80);
// $appGrey1: rgb(66, 66, 66);
// $appGrey2:  rgb(49, 49, 49);
// $appGrey3:  rgb(30, 30, 30);
$appOffWhite: rgb(219, 219, 219);
$transparent: rbga(0, 0, 0, 0);
$transBlack: rgba(0, 0, 0, 0.65);
$buy: rgb(0, 255, 55);
$sell: rgb(255, 0, 0);
$appOrange: rgb(255, 166, 0);
$appBkg: #0f1118;
$appGrey0: #34363f;
$appGrey1: #2a2d35;
$appGrey2:  #252831;
$appGrey3:  #212127c7;