.login-idle, .login-failed {
    height: 20vmin;
    opacity: 1;
    transition: 1s;
}

.login-loading {
    height: 20vmin;
    opacity: 0;
    transition: 1s;
}

.modal-idle, .modal-failed, .modal-loading {
    height: 4em;
    margin: 0.5em;
}

@media (prefers-reduced-motion: no-preference) {
    .top-logo, .modal-idle, .modal-failed, .login-idle, .login-failed {
      animation: logo-reverse-spin infinite 10s linear;
    }
    .modal-loading, .login-loading {
        animation: logo-spin infinite 2s linear;
    }
}

@keyframes logo-reverse-spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



