.main-table {
  border-collapse: separate;
  margin: 1em;
  border-spacing: 1em 0em;
  text-align: center;
  font-size: 12px;
}

.table-label {
  font-weight: bold;
  color: #ffa600;
}

.table-data {
  color: #e0e0e0;
}

.table-list {
  padding: 1.5rem;
  padding-top: 0.5rem;
  list-style: none;
}

.table-list-item {
  border: 0.5px solid #313131;
  padding: 0.5rem;
}

.buy-order {
  color: #00ff37;
}

.sell-order {
  color: red;
}
