.idle, .failed {
  height: 20vmin;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.loading {
  height: 20vmin;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.modal-logo {
  height: 4em;
  margin: 0.5em;
}

@media (prefers-reduced-motion: no-preference) {
  .top-logo, .modal-logo, .idle, .failed {
    -webkit-animation: logo-reverse-spin infinite 10s linear;
            animation: logo-reverse-spin infinite 10s linear;
  }
  .loading {
    -webkit-animation: logo-spin infinite 2s linear;
            animation: logo-spin infinite 2s linear;
  }
}

@-webkit-keyframes logo-reverse-spin {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes logo-reverse-spin {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main-table {
  border-collapse: separate;
  margin: 1em;
  border-spacing: 1em 0em;
  text-align: center;
  font-size: 12px;
}

.table-label {
  font-weight: bold;
  color: #ffa600;
}

.table-data {
  color: #e0e0e0;
}

.table-list {
  padding: 1.5rem;
  padding-top: 0.5rem;
  list-style: none;
}

.table-list-item {
  border: 0.5px solid #252831;
  padding: 0.5rem;
}

.buy-order {
  color: #00ff37;
}

.sell-order {
  color: red;
}

.modal-button {
  height: 1.1em;
  width: 1.1em;
  background-color: #212127c7;
  color: #34363f;
  border-width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.modal-button :hover {
  color: #ffa600;
}

.modal {
  color: white;
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  padding: 4em;
  border-radius: 15px;
  border: solid 1px #ffa600;
}

.table-modal {
  text-align: left;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f1118;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #252831;
  border-radius: 2px;
}

body::-webkit-scrollbar-track {
  background: #212127c7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
